@use "./../../css/variables" as *;
@use "sass:color";


.leisure {
    @extend .default-container;
    @include mobile;

    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.1em;
    }
   
    .info {
        margin: 20px;
        font-size: 1.05rem;
    }

    .carouselContainer {
        overflow: hidden;
        width: 100%;
        position: relative;
        padding: 10px 0;
        margin: 20px 0;
        h3 {
            margin-bottom: 20px;
        }
        .carouselTrack {
      
            .carouselItem {
                margin-right: 50px; // Відступ між зображеннями
                
                .carouselImage {
                    width: 300px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 10px;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
                  }
            }
        }
    }
}

