@use "./../../css/variables" as *;
@use "sass:color";

.about {
    @extend .default-container;
    @include mobile;

    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.25em;
        margin-bottom: 20px;
    }

    ul {
        padding-left: 40px;
        font-size: 1.25em;
        li {
            margin-bottom: 10px;
        }
    }


    .info {
        margin: 20px;
        font-size: 1.05rem;
    }
}