@use "../../../css/variables" as *;
@use "sass:color";

.menu-item {
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    text-wrap: nowrap;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    height: $nav-item-height;

    button {
        border: none;
        background-color: transparent;
        color: #fff;
        font-size: 1rem;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
            width: 20px;
            height: 20px;
            vertical-align: middle;
            transition: transform 0.3s ease;
        }
    }

    &:hover {
        background-color: color.adjust($bg-color-main, $lightness: 10%, $space: hsl);
    }

    .nav-link {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.15s;
    }

    .submenu {
        list-style: none;
        font-size: 0.9rem;
        background: color.adjust($bg-color-main, $lightness: 15%, $space: hsl);
        border-radius: 0 0 3px 3px;
        position: absolute;
        top: $nav-height - 10px;
        right: 0;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;

        .sub-link {
            color: $text-navbar;
            text-align: right;
            text-decoration: none;
            padding: 10px;
            display: block;
            transition: all 0.15s;

            &:hover {
                // background-color: color.adjust($bg-color-main, $lightness: 50%, $space: hsl);
                background-color: rgba(255,255,255,0.15);
                color: #fff;
            }
        }
    }

    /* Коли меню відкрите */
    &.open {
        background-color: color.adjust($bg-color-main, $lightness: 20%, $space: hsl);
        .submenu {
            max-height: 300px;
            opacity: 1;
            visibility: visible;
            padding: 10px;
        }

        div svg {
            transform: rotate(180deg);
        }
    }
}


/* Мобільна версія */
@media screen and (max-width: 992px) {
    .menu-item {
        width: 100%;
        height: auto;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: relative;

        .submenu {
            position: relative;
            top: 0;
            left: 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

            .sub-link {
                padding: 5px 10px;
                border-radius: 3px;
            }
        }

        &.open {
            
            .menu-button {
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .submenu {
                border-radius: 5px;
                opacity: 1;
                max-height: 300px;
                margin-bottom: 10px;
                background-color: color.adjust($bg-color-main, $lightness: 5%, $space: hsl);;
            }
        }
    }
}