@use "../../css/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    // background-color: $bg-color-main;
    background-color: #efefef;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    // justify-content: stretch;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}