@use "../../css/variables" as *;
@use "sass:color";


.history {
    @extend .default-container;
    @include mobile;

    &__title {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    &__intro {
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    &__section {
        margin-bottom: 2rem;
    }

    &__subsection {
        @extend .shadowed-box;

    }

    &__subtitle {
        font-size: 1.5rem;
        padding-left: 0.5rem;
        font-weight: 600;
        
        
    }

    &__text {
        font-size: 1rem;
        text-align: left;
        padding: 0.5rem;
        border-radius: 0.4rem;
    }

    &__list {
        margin-left: 2rem;
       
    }
}