@use "./../../css/variables" as *;
@use "sass:color";

.resources {
    @extend .default-container;
    @include mobile;

    & {
        display: flex;
        flex-flow: column;
        gap: 20px;
    }


    h2 {
        text-align: center;
        // margin-bottom: 20px;

    }

    .resource {
        margin: 10px;
        width: 100%;


        h3 {
            text-align: left;
            margin-bottom: 10px;
        }

        p.equipment {
            font-size: 1.2em;
            font-weight: 600;
        }

        ul {
            padding-left: 40px;
            font-size: 1.2em;
            // margin: 20px;
        }
    }

    .kuula-frame iframe {
        width: 100%;
        height: 600px;
        border: none;
        border-radius: 12px;
    }

}

@media (max-width: 768px) {
    .resources {
        padding: 10px;
        width: calc(100% - 20px);
        margin: 0;
    }
}