@use "sass:color";

// Основний колір фону
$bg-color-main: #005db4;


// НАВІГАЦІЙНЕ МЕНЮ
$nav-height: 60px;
$nav-item-height: $nav-height - 20px;
$bg-color-navbar: linear-gradient(90deg, $bg-color-main 0%, color.adjust($bg-color-main, $lightness: 20%, $space: hsl) 50%, $bg-color-main 100%);
$text-navbar: #eee;

// FOOTER
$bg-color-footer: linear-gradient(90deg, $bg-color-main 0%, color.adjust($bg-color-main, $lightness: 20%, $space: hsl) 50%, $bg-color-main 100%);

// ТІНІ
$box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);

// КОЛЬОРИ ТЕКСТУ
$header-color: color.adjust($bg-color-main, $lightness: 5%, $space: hsl);

h1, h2, h3, h4 {
    color: $header-color;
}

$text-color: color.adjust($bg-color-main, $lightness: -25%, $space: hsl);

// Стандарні параметри контейнера компоненти
.default-container {
    flex: 1;
    max-width: 1400px;
    margin: 0 auto;
    line-height: 1.6;
    padding: 2rem;
    width: calc(100% - 4rem);
    color: $text-color;
}
// Адаптив для контейнера (зменшення відступів на мобілках)
@mixin mobile {
    @media (max-width: 768px) {
        padding: 10px;
        width: calc(100% - 20px);
        margin: 10px;
    }
}

// Біла коробка з тінями
.shadowed-box {
    box-shadow: $box-shadow;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    
    img {
        display: block;
        margin: 0 auto;
        width: calc(100% - 20px);

    }
}


